.menu{
    background-color: darkslategrey;
    color: white; 
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    word-spacing: 50px;
}
.검색{
margin-top: 20px;
margin-left: 40px;
}
.container{
    margin-top: 20px;
    margin-left: 40px;
    background-color: white;
    display: flex;
    width:60%;
}
.buy{
    background-color: black;
    color: white;
    
}